.hi-container{
    display: flex;
	margin-top:20px;
	
}

h1{
    width: 80%;
    
}
#hi-icon-container > img{
	border-radius: 50%;
	
}
h3{
	margin-top: 7px;
}
.navbar {
	overflow: hidden;
	background-color: #597d9e;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
	color: aqua;
}

.form-inline {
	display: flex;
}

.promotion {
	height: 200px;
	border: 1px solid black;
}


#comics-search-result {
	gap: 28px;
	margin: 6px;
	display: flex;
	flex-wrap: wrap;
	
}


.image-container {
	padding: 8px;
	width: 280px;
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-image {
	max-width: 100%;
	max-height: 100%;
}

.item-info {
	padding: 12px;
	position: relative;

}

.item-name {
	height: 38px;
}

.item-condition {
	height: 38px;
}

.price-like-container {
	display: flex;
	justify-content: space-between;
	height: 38px;

}

.bi-heart, .bi-heart-fill{
	font-size: 30px;
	position: absolute;
	right: 12px;
	bottom: 24px;

}

.item-box {
	width: 300px;
	height: 420px;
	padding: 10px;
	margin-top: 20px;
	border-radius: 30px;
}

.item-box:hover {
	cursor: pointer;
	box-shadow: 0px 0px 15px 3px #597d9e;
}

/*CSS for banner*/
.banner-image{
	max-width:100%;
	max-height: 100%;
}

.carousel-item, .active {
	width: 100%;;
	height:100%;
}

.searchBar{
	margin: 0px 0 20px 0;
	height:50px;
}
.search-btn{
height:50px;
border-color: #597d9e;
}
*{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
.navbar > a{
    font-size: 20px;
}
#logo{
	width: 80px;
	height:80px;
}
h1{
	color: #2f4c68;
}
